#
# Add your own credentials here and rename the file to .secrets to be able to run the test.sh script
#

# Common credentials
SERVER_ENDPOINT='https://psono.example.com/server'
SERVER_SIGNATURE='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
CLIENT_CERT='my_client_cert.pem.crt'
CLIENT_KEY='my_client_cert.pem.key'

# Restricted credentials
API_KEY_ID_0='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
API_KEY_PRIVATE_KEY_0='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
API_KEY_SECRET_KEY_0='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

# Unrestricted credentials
API_KEY_ID_1='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
API_KEY_PRIVATE_KEY_1='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
API_KEY_SECRET_KEY_1='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
